spring:
  datasource:
    url: jdbc:postgresql://localhost:5332/course_db
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

jwt:
  secret: ozRdG2J3gwX+0HTAY+9uNpCZ8oZksTRpcrxIWg7FjEc=
  expiration: 3600000 # 1 hora (ms)