spring:
  datasource:
    url: jdbc:postgresql://localhost:5332/course_db
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

jwt:
  secret: 123
  expiration: 3600000 # 1 hora (ms)